:root {
  --header-height: 8vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: var(--header-height);
  min-height: 50px;

  background-color: black;
  box-shadow: 0 1px 2px black;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.algebra-logo {
  padding: 0 2rem;
}

.algebra-logo img {
  height: 4vh;
  width: auto;
}

.links {
  display: flex;
  align-items: center;
  height: 100%;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1.3rem;
  /* font-size: smaller; */
}

.header a:hover {
  color: yellow;
}

/* CONTENT */
h1 {
  width: 50vw;
  min-height: 100px;

  text-align: center;

  font-size: 3rem;
  font-weight: 600;

  padding: 2.5vh;
  margin: 0 0 5vh;
  border-bottom: 3px solid rgb(206, 137, 10);

  animation: slide-up 0.8s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

.content {
  padding: 0;
  margin-top: var(--header-height);
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
}

.novosti-container {
  background-color: rgb(247, 247, 247);
}

.novosti {
  width: 100vw;
  height: 43vh;
  min-height: 362px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  animation: enlargement 0.8s ease-out;
}

@keyframes enlargement {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.novosti a {
  border-radius: 50%;
  border: 15px solid rgb(236, 236, 236);
  box-shadow: 0 0 15px rgb(73, 73, 73);

  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 15rem;
  width: 15rem;

  margin: 0;

  transition: transform 1s ease-out;
}

.novosti a:hover {
  box-shadow: 0 0 20px rgb(73, 73, 73);
  transform: scale(1.05);
}

.novosti a span {
  color: yellow;
  text-shadow: 1px 1px 2px black;
}

.novosti a:nth-child(1) {
  background: url(/Resource/img/novost1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.novosti a:nth-child(2) {
  background: url(/Resource/img/novost2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.novosti a:nth-child(3) {
  background: url(/Resource/img/novost3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*FOOTER*/
.footer {
  position: absolute;
  bottom: 0;

  height: 15rem;
  width: 100%;

  margin-top: 0px;

  background-image: url(/Resource/img/zaiskri-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;

  width: 60vw;
  box-sizing: border-box;
}

.footer p span {
  color: rgb(190, 28, 28);
  text-shadow: 2px 1px black;
}

/*MODAL*/
.modal-bg {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.486);
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

form {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background-color: white;

  width: 30%;
  min-width: 400px;
  height: 470px;

  padding: 15px;
  border-radius: 5px;

  font-size: 0.9rem;
}

form h1 {
  animation: none;
  border: none;

  width: 100%;

  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  text-shadow: none;
  text-align: left;

  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

form label {
  margin: 5px;
}

input,
select,
textarea {
  padding: 0.4rem;
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 3px;
  /* box-shadow: 0 0 7px rgb(173, 216, 230); */
}

textarea {
  height: 20%;
}

form .newsletter {
  display: flex;
  justify-content: left;
  align-items: center;

  margin: 5px 0;

  font-size: smaller;
}

#chk-newsletter {
  margin-top: 8px;
}

form .btns #btnSubmit {
  background-color: rgb(56, 119, 170);
  color: white;
}

form .btns #btnReset {
  background-color: rgb(179, 37, 37);
  color: white;
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  /*HTML*/
  body {
    width: 100%;
  }

  /*HEADER*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: initial;
  }

  .header-content {
    flex-direction: column;
  }

  .algebra-logo {
    margin-top: 15px;
  }

  /*CONTENT*/
  h1 {
    margin-top: 30px;
  }

  .novosti a {
    height: 13rem;
    width: 13rem;
  }
}

@media only screen and (max-width: 768px) {
  /*HEADER*/
  .header {
    height: unset;

    background-color: rgb(0, 0, 0);
    box-shadow: none;
  }

  .header-content {
    flex-direction: column;
  }

  .algebra-logo {
    padding: 1rem 2rem;
  }

  .links {
    flex-direction: row;
    justify-content: center;
  }

  .links a {
    box-sizing: border-box;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .loc-links a {
    font-size: 0.8rem;
  }

  /*CONTENT*/
  h1 {
    margin-top: 50px;
  }

  .novosti {
    display: flex;
    flex-direction: column;

    height: auto;

    margin: 50px auto;
  }

  /*FOOTER*/
  .footer p {
    font-size: 2.7rem;
  }
}
